<header class="app-header">
  <div class="header-left">
    <img mat-card-avatar src="logo.png" alt="Logo" class="logo">
    <span class="app-name">Maids Test</span>
  </div>
  <div class="header-right">
    <!-- My GitHub Icon -->
    <a href="https://github.com/Hagar00" target="_blank" rel="noopener noreferrer" class="git-hup">
      <fa-icon [icon]="faGitHub" class=""></fa-icon>
    </a>
    <!-- My LinkedIn Icon -->
    <a href="https://www.linkedin.com/in/hagar-hassan-2aba28242/" target="_blank" rel="noopener noreferrer" class="linkedin">
      <fa-icon [icon]="faLinkedIn" class=""></fa-icon>
    </a>
  </div>
</header>
