/* You can add global styles to this file, and also import other style files */

html, body {
  box-sizing: border-box;
  background: #edf1f5;
  margin: 0;
  /* height: 100%; */
  /* overflow: hidden; */
}
body {
   font-family: Roboto, "Helvetica Neue", sans-serif;
  }
