<div class="mx-auto bg-body-secondary d-flex justify-content-center shadow align-items-center py-5 rounded-3 " style="width: 70%">
  <div class="" style="width: 90%">
    <mat-card *ngFor="let user of users" (click)="viewUser(user.id)" class="h-20 p-3 shadow my-2 bg-body-tertiary rounded-3">
      <mat-card-header class="d-flex flex-wrap items-center">
        <div class="d-flex justify-content-between w-100">
          <div class="flex flex-wrap items-center ">
            <div>
              <img mat-card-avatar [src]="user.avatar" alt="{{user.first_name}}">
            </div>
            <div class="d-flex gap-2 align-items-center">
              <mat-card-title class="font-extrabold capitalize fw-medium text-body-secondary">{{ user.first_name }} {{ user.last_name }}</mat-card-title>
              <i class="fas fa-user icon-user"></i>
            </div>
          </div>
          <div>
            <mat-card-actions>
              <button mat-button  (click)="viewUser(user.id)" class="btn btn-primary ">Show details</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <mat-paginator [length]="totalUsers" [pageSize]="6" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
